<!DOCTYPE html>
<html>
<head>
    <title>Check-In Confirmation</title>
</head>
<body>
    <h1>Check-In Confirmation</h1>
    <p>Your unique number is: {{ number }}</p>
    <img src="/static/barcodes/{{ number }}.png" alt="Barcode"><br>
    <p>Download your tickets:</p>
    <!-- <a href="/static/tags/{{ number }}_child.pdf" download>Child's Ticket</a><br>
    <a href="/static/tags/{{ number }}_parent.pdf" download>Parent's Ticket</a> -->
    <button onclick="openPrintWindow('{{ url_for(',print_labels,', number=number) }}')">Print Labels</button>
</body>

<script>
    function openPrintWindow(url) {
        var newWindow = window.open(url, '_blank');
        newWindow.onload = function() {
            newWindow.print();
        };
    }
</script>

</html>

