<!DOCTYPE html>
<html>
<head>
    <title>Child Check-In</title>
</head>
<body>
    <h1>Child Check-In</h1>
    <form action="/checkin" method="POST">
        <label for="child_name">Child's Name:</label>
        <input type="text" id="child_name" name="child_name" required autocomplete="off"><br>
        <label for="parent_name">Parent/Guardian's Name:</label>
        <input type="text" id="parent_name" name="parent_name" required autocomplete="off"><br>
        <button type="submit">Check In</button>
    </form>
</body>
</html>
